<h1>Recipes:</h1>

<ol>
  <% @recipes.each() do |recipe| %>
    <li><a href="/recipe/<%=recipe.id()%>" id="<%=recipe.id()%>"><%= recipe.name() %></a></li>
  <% end %>
</ol>

<form action="/recipes" method="post">
  <div class="form-group">
    <label for="name">Add a recipe:</label>
    <input type="text" name="name" id="name" class="form-control">
  </div>
  <button type="submit" id="add_recipe" class="btn btn-primary">Add</button>
</form>

<br>

<%= @message %>
